<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= form_with(model: @post, url: posts_path, local: true) do |form| %>
      <%#= form_with(model: @post, local: true, html: { multipart: true }) do |form| %>
      <p id="notice"></p>
        <div class="mb-3">
          <%= form.label :name ,"作品名", class: "form-label" %>
          <%= form.text_field :name, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.label :introduction ,"説明", class: "form-label" %>
          <%= form.text_area :introduction, class: "form-control" %>
        </div>
          
        <div class="mb-3">
          <%= form.label :image ,"画像を追加", class: "form-label" %>
          <%= form.file_field :image, class: "form-control" %>
        </div>
          
        <%= form.submit "投稿する", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
