<!--
<h2><%#= @post.name %></h2>
<p><%#= @post.introduction %></p>
<%#= image_tag @post.image %>
-->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1><%= @post.name %></h1>
      <p><%= @post.introduction %></p>

      <% if @post.image.attached? %>
        <%= image_tag @post.image, class: "img-fluid" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container text-center mt-4">
  <p>コメント件数：<%= @post.post_comments.count %></p>
  <% @post.post_comments.each do |post_comment| %>
    <div class="d-flex align-items-center justify-content-center mb-2">
      <%= image_tag post_comment.user.get_profile_image(100, 100), class: "rounded-circle me-2" %>
      <div>
        <p><%= post_comment.user.name %> <span class="text-muted"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span></p>
        <p><%= post_comment.comment %></p>
      </div>
    </div>
  <% end %>
</div>

<div class="container mt-4">
  <%= form_with(model: [@post, @post_comment], local: true) do |f| %>
    <div class="mb-3">
      <%= f.label :content, "コメント内容", class: "form-label" %>
      <%= f.text_area :content, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :image, "画像をアップロード", class: "form-label" %>
      <%= f.file_field :image, class: "form-control" %>
    </div>
    <%= f.submit "コメントを投稿", class: "btn btn-primary" %>
  <% end %>
</div>
