<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-3 offset-md-1" style="font-size: 24px;">会員情報編集</div>
  </div>
  <p id="notice"></p>
  <%= form_with model: @user, url: companions_information_path, local: true, method: :patch do |f| %>
    <div class="row form-group">
      <div class="col-3">氏名</div>
      <div class="col-3"><%= f.text_field :last_name %></div>
      <div class="col-3"><%= f.text_field :first_name %></div>
    </div>

    <div class="row">
      <div class="col-3"><%= f.label :email ,"メールアドレス" %></div>
      <div class="col-6"><%= f.email_field :email, autocomplete: "email" %></div>
    </div>

    <div class="row">
      <div class="col-6"><%= f.submit "編集内容を保存", class: "btn btn-md btn-success" %></div>
      <!-- <div class="col-3 text-center"><%#= link_to "退会する", unsubscribe_customers_path, class: "btn btn-danger" %></div> -->
    </div>
  <% end %>
</div>