<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-2 offset-md-2" style="font-size: 24px;">マイページ</div>
  </div>
  <p id="notice"></p>
    <div class="actions text-center">
      <!--f.submitでボタン設定していたのをlink_toに直した-->
      <!--直した理由 link_toはただ表示させるときに使う f.submitは更新や何か変更点がでるときに使う-->

      <div class="row">
        <div class="col-1">登録情報</div>
        <div class="col-2"><%= link_to "編集する", companions_information_edit_path, class: "btn btn-lg btn-success", style: "font-size: 1rem;"%></div>
      </div>

      <p id="notice"></p>
      
      <% if @user %>
        <tr>
          <th style="text-align: left;">ニックネーム</th>
          <td style="text-align: left;"><%= @user.name %></td>
        </tr>
        <tr>
          <th style="text-align: left;">メールアドレス</th>
          <td style="text-align: left;"><%= @user.email %></td>
        </tr>
      <% else %>
        <tr>
          <td colspan="2">ユーザーが見つかりません。</td>
        </tr>
      <% end %>
      
      <!--
      <div class="container">
        <div class="row">
          <div class="col-8">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th style="text-align: left;">ニックネーム</th>
                  <td style="text-align: left;"><%= @user.name %></td>
                </tr>
                <tr>
                  <th style="text-align: left;">メールアドレス</th>
                  <td style="text-align: left;"><%= @user.email %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      -->
    </div>
    </div>