<h1>新しいコメントを作成</h1>

<%#= form_with(model: @post_comment, local: true) do |f| %>


<%= form_with(model: [@post, @post_comment], local: true, html: { multipart: true }) do |f| %>
  <div class="mb-3">
    <%= f.label :content, "コメント内容", class: "form-label" %>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :image, "画像", class: "form-label" %>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit "コメントを投稿", class: "btn btn-primary" %>
<% end %>


<%= render 'post_comment_form' %>